In [1]:
pwd

'C:\\Users\\stone\\Documents\\ddd'

In [2]:
cd C:\ETL

C:\ETL

In [3]:
pwd

'C:\\ETL'

In [10]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import schedule
import time
import psycopg2
import getpass

In [31]:
def etl_process():
    engine_source = create_engine('mssql+pyodbc://DESKTOP-TS0EFTA/AdventureWorksDW2019?driver=SQL+Server+Native+Client+11.0',fast_executemany=True)
    engine_Destination = create_engine("postgresql://postgres:obembe225@localhost:5433/zyd")
    sql="select * from [dbo].[DimCustomer]"
    df=pd.read_sql_query(sql,engine_source)
    df.drop(['Title','AddressLine2','Suffix','MiddleName'],axis=1,inplace=True)
    singles =df[df['MaritalStatus']=='S']
    married=df[df['MaritalStatus']=='M']
    singles.to_sql('singles', con = engine_Destination, if_exists = 'append',index=False)
    singles.to_sql('married', con = engine_Destination, if_exists = 'append',index=False)

In [ ]:
schedule.every().friday.at("11:41").do(etl_process)

while True:
    schedule.run_pending()
    time.sleep(1)